<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<footer class="w-100">
  <div class="container">
    <div>
      <a class="navbar-brand" href="#">
        <img src="./images/logo/logo_img.png" alt="logo" />
      </a>
    </div>
    <div
      class="d-flex flex-column flex-lg-row align-items-center justify-content-between"
    >
      <div class="mx-5">
        <h3 class="fw-bold">ΕΠΙΚΟΙΝΩΝΙΑ</h3>
        <div class="mt-4">
          <div class="d-flex align-items-center">
            <h6 class="fw-bold">Ηλεκτρονική διεύθυνση:</h6>
            <p class="mt-2 mx-1">example@shoe.gr</p>
          </div>
          <div class="d-flex align-items-center">
            <h6 class="fw-bold">Τηλέφωνο:</h6>
            <p class="mx-2 mt-2">+(30)6975434563</p>
          </div>
          <div class="d-flex">
            <p>Οδός Ασωμάτων <span>25</span>,</p>
            <p class="mx-2">Θησείο</p>
          </div>

          <div class="d-flex">
            <p>139994,</p>
            <p class="mx-2">Αθήνα</p>
          </div>
        </div>
      </div>
      <div>
      <div class="mt-4">
        <a class="text-decoration-none" href="#" target="_blank">
          <img src="./images/social-media-icon/facebook.png" alt="facebook" />
        </a>
        <a class="text-decoration-none" href="#" target="_blank">
          <img
            class="mx-2"
            src="./images/social-media-icon/instagram.png"
            alt="instagram"
          />
        </a>
        <a class="text-decoration-none" href="#" target="_blank">
          <img src="./images/social-media-icon/twitter.png" alt="twitter" />
        </a>
      </div>
      <div>
        <a class="text-decoration-none" href="#" target="_blank">
            <p  class="fw-bold mt-3 text-center  policy">Πολιτικές Προστασίας Δεδομένων</p>
        </a>
      </div>
    </div>
    </div>
  </div>
  <div class="w-100 bg-light mt-4 text-center p-2">
    <h6>Copyright 2024 - Created by Paris Charalampidis</h6>
  </div>
</footer>
