      <section class="mt-3">
        <div class="container position-relative">
          <img
            class="img-responsive img-fluid"
            src="./images/header.jpg"
            alt="header"
          />
          <div
            class="position-absolute"
            style="top: 50%; left: 50%; padding:0px;transform: translate(-50%, -50%)"
          >
            <h1 class="fw-bold text-white">Tanjun DJ6257 004 Μαύρο</h1>

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#" class="breadcrumb-li-item">Αρχική</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#" class="breadcrumb-li-item">Προϊόντα</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#" class="breadcrumb-li-item">Παπούτσια</a>
                </li>
                <li class="breadcrumb-item">
                  Ανδρικά
                </li>

                 <li class="breadcrumb-item active" aria-current="page">
                Tanjun DJ6257
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </section>