.margin-button{
    margin-right:20px;
}
.breadccrumb-margin{
    margin-left:79px;
}
.breadcrumb-li-item{
    color:#fff;
    font-size:12px;
}
ul,li,.breadcrumb-li-item-active{
    color:white;
    font-weight:bold;
    font-size:14px;
}
.dropdown-icon{
    width:20px; 
    height:20px;
     margin-top:10px;
}
.notification {
    display: flex; 
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius:15px;
    margin-top: 10px;
    margin-left:10px;
}
.colorRadio{
    cursor: pointer;
}

.xButton{
    margin-right:35px;
}


.close-top{
    display:none;
}
.policy{
    color:#bab8b8;
}
a .policy:hover{
    color:#999;
}

  .hover-zoom {
            overflow: hidden; /* Hide overflow */
        }

        .hover-zoom img {
            transition: transform 0.8s ease; /* Smooth transition */
        }

        .hover-zoom:hover img {
            transform: scale(1.2); /* Zoom effect */
        }