.margin-button{
    margin-right:20px;
}
.breadccrumb-margin{
    margin-left:79px;
}
.breadcrumb-li-item{
    color:#fff;
    font-size:12px;
}
ul,li,.breadcrumb-li-item-active{
    color:white;
    font-weight:bold;
    font-size:14px;
}
.dropdown-icon{
    width:20px; 
    height:20px;
     margin-top:10px;
}
.notification {
    display: flex; 
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius:15px;
    margin-top: 10px;
    margin-left:10px;
}
.colorRadio{
    cursor: pointer;
}

.xButton{
    margin-right:35px;
}


.close-top{
    display:none;
}
.policy{
    color:#bab8b8;
}
a .policy:hover{
    color:#999;
}

  .hover-zoom {
            overflow: hidden; /* Hide overflow */
        }

        .hover-zoom img {
            transition: transform 0.8s ease; /* Smooth transition */
        }

        .hover-zoom:hover img {
            transform: scale(1.2); /* Zoom effect */
        }



.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 500px;
  border-radius: 50%;
  top:50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  
}

.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.slider .slider-items .item.active{
	display: block;
}


.left-arrow{
    color:black;
}

.left-arrow:hover{
    border:1px solid black;
    width:25px;
    height:25px;
    padding:3px;
    border-radius:50%;
    opacity:1;
}

.left-arrow:hover{
    border:1px solid black;
    width:25px;
    height:25px;
    padding:3px;
    border-radius:50%;
    opacity:1;
}

.sizeRadio{
    cursor: pointer;

}